* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

#frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    background-color: black;
    padding: 10px;
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid black;
}

#display {
    width: 100%;
    height: 100px;
    background-color: hsl(116, 43%, 95%);
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#buttons-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

.btn {
    width: calc((100% - 3 * 5px) / 4); /* Change the px according to the gap in #buttons-container */
    aspect-ratio: 1 / 1;
    background-color: hsl(116, 43%, 51%);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    border: 1px solid black;
}

.btn:hover {
    background-color: hsl(116, 43%, 41%);
}

.btn:active {
    background-color: hsl(116, 43%, 31%);
}


.btn.operator {
    background-color: hsl(137, 41%, 31%);
}

.btn.operator:hover {
    background-color: hsl(137, 41%, 41%);
}

.btn.operator:active {
    background-color: hsl(137, 41%, 51%);
}

.btn.modifier {
    background-color: hsl(169, 72%, 28%);
}

.btn.modifier:hover {
    background-color: hsl(169, 72%, 38%);
}

.btn.modifier:active {
    background-color: hsl(169, 72%, 48%);
}